#header{
    width: 100%;
}
#topbar {
    padding: 5px 0;
    color: #FFF;
    font-size: 12px;
    line-height: 30px;
    background-color: #4F4F4F;
    .topbar-menu {
        .menu-domain, .menu-service {
            display: inline-block;
            vertical-align: middle;
        }
        .menu-line {
            margin-left: 20px;
            display: inline-block;
            border-left: 1px solid #FFF;
            height: 20px;
            vertical-align: middle;
            width: 25px;
        }
        .item-domain {
            display: inline-block;
            margin-right: 20px;
            position: relative;
            padding-left: 30px;
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 30px;
                height: 30px;
                background: transparent url('img/icon_topbar.png') scroll 0 0 no-repeat;
            }
            &:hover {
                color: #12AFFF;
                &:before {
                    background-position-y: -30px;
                }
            }
        }
        .item_tel {
            display: inline-block;
            margin-right: 20px;
            position: relative;
            padding-left: 30px;
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 30px;
                height: 30px;
                background: transparent url('img/header_icon_phone.png') scroll 5px center no-repeat;
            }
            &:hover {
                color: #12AFFF;
            }
        }
        .item_cha:before {
            background-position-x: 0;
        }
        .item_dai:before {
            background-position-x: -30px;
        }
        .item_life:before {
            background-position-x: -60px;
        }
        .item_service {
            display: inline-block;
            margin-right: 20px;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 30px;
                height: 30px;
                background: transparent url('img/icon_topbar.png') scroll -90px 0 no-repeat;
            }
            &:hover {
                color: #12AFFF;
                &:before {
                    background-position-y: -30px;
                }
                &:after {
                    display: block;
                    z-index: 1000;
                }
            }
        }
        .item_weixin {
            &:before {
                background-position-x: -90px;
            }
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 40px;
                width: 100px;
                height: 100px;
                display: none;
                background: #FFF url("img/code_weixin.jpg") scroll 0 0 no-repeat;
            }
        }
        .item_gz {
            &:before {
                background-position-x: -90px;
            }
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 40px;
                width: 100px;
                height: 100px;
                display: none;
                background: #FFF url("img/code_dy.png") scroll 0 0 no-repeat;
            }
        }
        .item_app {
            &:before {
                background-position-x: -180px;
            }
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 40px;
                width: 100px;
                height: 100px;
                display: none;
                background: #FFF url("img/code_download.jpg") scroll 0 0 no-repeat;
            }
        }
    }
    .topbar-help {
        .item-help {
            display: inline-block;
            margin-left: 10px;
            color: #DEDEDE;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

#navbar {
    border-bottom:1px solid #CCC;
    background-color: #FFF;
    #logo {
        float: left;
        width: 168px;
        height: 54px;
        background: transparent url("img/logo.png") scroll 0 0 no-repeat;
        background-size: 100%;
        overflow: hidden;
        text-indent: -999px;
        margin-top:4px;
    }
    #slogn {
        float: left;
        margin-top: 7px;
        margin-left: 15px;
        width: 127px;
        height: 40px;
        background: transparent url("img/slogn.gif") scroll 0 0 no-repeat;
        background-size: 100%;
        overflow: hidden;
        text-indent: -999px;
    }
    #menu {
        float: right;
        .item_menu {
            margin-left: 30px;
            display: inline-block;
            color: #777;
            font-size: 16px;
            line-height: 40px;
            padding: 10px 0;
            transition: all 0.3s;
            &:hover {
                color: #12AFFF;
            }
        }
    }
}
