<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title><%= pageTitle %></title>
    <script>var width = document.documentElement.clientWidth, fontSize = width / 750 * 100;
        document.documentElement.style.fontSize = fontSize + "px";</script>
</head>
<body>
<%= content %>
</body>
</html>